<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="<%= icon %>" />
        <link rel="stylesheet" href="shared.css" />
        <title><%= tech %> - <%= orgName %> - <%= projectName %></title>
        <!-- <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';" /> -->
        <meta name="importmap-type" use-injector />
        <script type="injector-importmap">
            <%= sharedImportmap %>
        </script>
        <script type="injector-importmap">
            <%= mfeImportmap %>
        </script>
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/npm/single-spa@6.0.3/lib/es2015/esm/single-spa.min.js"
            as="module" />
        <script src="https://cdn.jsdelivr.net/npm/@single-spa/import-map-injector@3.0.0/lib/import-map-injector.js"></script>
    </head>
    <body>
        <noscript> You need to enable JavaScript to run this app. </noscript>
        <div id="apps"></div>
        <template id="single-spa-layout">
            <single-spa-router containerEl="#apps"> <%= layout %> </single-spa-router>
        </template>
        <!-- containerEl (optional): A string CSS Selector or HTMLElement that is used as the container for all single-spa dom elements. Defaults to body. -->
        <script>
            window.importMapInjector.initPromise.then(() => {
                import("@Razmio/root-config");
                import("@Razmio/navbar");
                import("@Razmio/sidebar");
                import("@Razmio/webpack");
                import("@Razmio/vite");
            });
        </script>
    </body>
</html>
